<div data-dojo-attach-event="onclick:hideDropdownList">
    <div class="container" style="height: 500px">
        <div class="row">
            <div class=" col-sm-6">
                <button type="button" href="#" class="btn" style="outline: none" data-dojo-attach-event="onclick: showDropdownList">
                    <span>Select Product</span>
                    <span class="caret"></span>
                </button>

                <div class="my-dropdown-menu hidden" data-dojo-attach-point="productDropDown">
                    <table class="table table-condensed">
                        <tbody data-dojo-attach-point="productDropdownContainer"></tbody>
                    </table>
                </div>

                <div>
                    <table class="table table-condensed">
                        <colgroup>
                            <col style="width: 30%" />
                            <col style="width: 30%" />
                            <col style="width: 30%" />
                            <col style="width: 10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td>Produkt</td>
                                <td>Antal</td>
                                <td>Pris</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody data-dojo-attach-point="productListContainer"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
			<h2>OnDemandGrid with empty store</h2>
			<p>
				This grid references a store with no items, in order to  demonstrate
				<code>noDataMessage</code>.
			</p>
			<div id="myGrid"></div>
			<button type="button" href="#" class="btn" style="outline: none" data-dojo-attach-event="onclick: search">
				Search
			</button>
<!--
            <div data-dojo-type="dojox.dtl.Inline" id="inline" data-dojo-props="context:{items: ['apple', 'banana', 'orange']}">
                <ul>
                    {% for item in items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
-->
        </div>
    </div>
</div>
